<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>ユーザ情報</h2>
      <table class="table">
        <tr><%= image_tag @user.get_profile_image('100x100') %></tr>            
        <tr>
          <th>Name</th>
          <th><%= @user.name %></th>
        </tr>
        <% if @user.name != "guestuser" %>
        <tr>
          <th>Introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>フォロー数</th>
          <th><%#= linl_to public_user_followings_path(@user) do %>
                <%#= @user.followings.count %>
              <%# end %>
          </th>
        </tr>
        <tr>
          <th>フォロワー数</th>
          <th><%#= link_to public_user_follwers_path(@user) do %>
                <%#= @user.follwers.count %>
              <%# end %>
          </th>
        </tr>
        <tr>
          <th>いいね一覧</th>
          <th><%#= link_to favorites_public_user_path(@user) do %>
                <%#= @user.favorites.count %>                  
              <%# end %>
          </th>
        </tr>
  <!-- 詳細ページが自分のページであるかで分岐 -->
    
              <% if @user ==  current_user && @user.name != "guestuser" %>
                <p><%= link_to "プロフィール編集", edit_public_user_path %></p>
              <% else %>
    
  <!-- そうでない場合にフォローボタン-->
              <% if current_user.following?(@user) && @user.name != "guestuser" %>
                <p><%= link_to "フォロー外す", public_user_relationships_path(@user), method: :delete %></p>
              <% elsif @user.name != "guestuser" %>
                <p><%= link_to "フォローする", public_user_relationships_path(@user), method: :post %></p>
              <% end %>
              <% end %>
            <% end %>
        </table>
      </div>
    </div>
  </div>